/* used fonts
    nav links : font-family: 'Rajdhani', sans-serif;
    hero text : font-family: 'Playfair Display', sans-serif;
*/

:root{
    --main-font : 'Rajdhani', sans-serif;
    --hero-font : 'Playfair Display', sans-serif;
    --main-color: #DE5C00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}



/* slider  */
/* .slider{
    transform: translateX(200%);
}

.slider.show{
    transform: translateX(0);
    transition: .6s;
} */

/* navigation */

.nav-links>.sscreen, .fa{
    display: none;
}

header {
    display: flex;
    margin: 10px auto;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    width: 60px;
    height: 60px;
    border-radius: .75rem;
}

.nav-title {
    display: flex;
    margin-left: 10rem;
    justify-content: center;
    align-items: center;
}

.nav-name>a {
    margin-left: 1rem;
    font-family: var(--main-font);
    text-decoration: none;
    color: #000;
}

.nav-links {
    margin-right: 10rem;
    width: 50rem;
}

.nav-links>nav {
    display: flex;
    justify-content: space-between;
}

.nav-links>nav>a {
    text-decoration: none;
    color: #000;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1.3rem;
    transition: .3s;
    cursor: pointer;
}



.nav-links>nav>a:hover {
    color: var(--main-color);
    box-shadow: 0 3px 0px #DDC63D;
}

/* hero section */

.hero {
    display: flex;
    align-items: center;
    background-image: url("../img/background/bgc-image-hero.png");
    background-position: center;
    height: 91.5vh;
}

.hero>img {
    height: 70vh;
    display: flex;
    margin-left: 15rem;
    margin-right: 6rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 35rem 5rem 0;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    width: 35rem;
    height: 60%;
}

.flex-buttons{
    display: flex;
    margin-top: 2rem;
}

.cursor{
    opacity: 0;
    transition: .2s;
}

.cursor.active{
    opacity:1;
}

.hero-motto {
    align-self: flex-start;
    font-size: 6rem;
    color: var(--main-color);
}

.machine-typing{
    height: 20vh;
    margin: 2rem 0 2rem 0;
}

.hero-projects,
.hero-contact,
.project-btn,
.form-button {
    padding: 10px 20px;
    margin: 0 25px 0 0;
    border: none;
    font-size: 1.2rem;
    color: #000;
    box-shadow: inset 0 0 0 2px var(--main-color);
    background-color: transparent;
    transition: .2s;
    cursor: pointer;
    display: inline;
}

.project-btn{
    margin:0;
}

a{
    color: black;
}

.hero-projects:hover,
.hero-contact:hover,
.project-btn:hover,
.form-button:hover {
    border: none;
    background-color: var(--main-color);
    color: #fff;
}

/* skills section */
.skills-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10rem auto 0;
}
.skills-wrapper>h2{
    font-family: var(--main-font);
    color: var(--main-color);
    margin:0 auto 4rem;
    width: 90%;
    border-bottom: 5px solid var(--main-color);
}

.skills{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}



.icons-container{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

/* skills icons */

.skills-img1{
    width: 200px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
}

.skills-img2{
    width: 100px;
    grid-row-start: 3;
    grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 7;
}

.skills-img3 {
    width: 150px;
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 3;
    grid-column-end: 9;
}

.skills-img4 {
    width: 200px;
    grid-row-start: 4;
    grid-column-start: 8;
    grid-row-end: 7;
    grid-column-end:11;
}

.skills-img5 {
    width: 100px;
    grid-row-start: 6;
    grid-column-start: 2;
    grid-row-end: 8;
    grid-column-end: 4;
}

.skills-img6 {
    width: 150px;
    grid-row-start: 7;
    grid-column-start: 5;
    grid-row-end: 11;
    grid-column-end: 7;
}

.skills-img7 {
    width: 200px;
    grid-row-start: 9;
    grid-column-start: 9;
    grid-row-end: 13;
    grid-column-end: 13;
}

.skills-img8 {
    width: 150px;
    grid-row-start: 9;
    grid-column-start: 2;
    grid-row-end: 12;
    grid-column-end: 4;
}


/* about me section */

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 5rem auto;
    padding-top: 5rem;
}

.about-me-section{
    display: flex;
    margin:auto;
    width: 90%;
}

.about-me-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20rem 0 4rem;
    max-width: 60%;
}

.about-me>h2 {
   font-family: var(--main-font);
    color: var(--main-color);
    margin:0 auto 4rem;
    width: 90%;
    border-bottom: 5px solid var(--main-color);
}

.about-me-wrapper>p {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.2rem;
}

.photo>img {
    width: 30vh;
    height: 30vh;
}

/* future goals section */

.goals-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10rem auto 0;
}

.goals-wrapper>h2 {
    font-family: var(--main-font);
    color: var(--main-color);
    margin: 0 auto 4rem;
    width: 90%;
    border-bottom: 5px solid var(--main-color);
}

.goals {
    display: flex;
    justify-content: space-around;
}

/* goals icons */

.goals-img1{
    width: 200px;
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 4;
    grid-column-end:9;
}

.goals-img2 {
    width: 150px;
    grid-row-start: 6;
    grid-column-start: 9;
    grid-row-end: 9;
    grid-column-end: 12;
}

.goals-img3 {
    width: 100px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
}

.goals-img4 {
    width: 100px;
    grid-row-start: 8;
    grid-column-start: 6;
    grid-row-end: 10;
    grid-column-end: 8;
}

.goals-img5 {
    width: 150px;
    grid-row-start: 7;
    grid-column-start: 2;
    grid-row-end: 10;
    grid-column-end: 5;
}

.goals-img6 {
    width: 100px;
    grid-row-start: 3;
    grid-column-start: 10;
    grid-row-end: 5;
    grid-column-end: 12;
}



/* projects section */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 10rem auto 0;
    padding-top: 5rem;
}

.projects> h2 {
    font-family: var(--main-font);
    color: var(--main-color);
    margin: 0 auto 4rem;
    width: 90%;
    border-bottom: 5px solid var(--main-color);
}

.projects-cards{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 4rem auto;
}

.project1,
.project2 {
    width: 35rem;
    text-align: center;
    justify-content: flex-end;
}

.project-picture,
.project-picture-2 {
    width: 80%;
    margin-bottom: 2rem;
}

.project-description{
    margin-bottom: 2rem;
    font-family: 'Playfair Display', sans-serif;
}



/* modals */
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 60%;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    font-family: 'Playfair Display', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.modal-header .close-btn{
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2rem;
    color: #000;
}

.modal-body{
    padding: 20px 25px;
}

#overlay{
    position: fixed;
    z-index: 2;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.next, .previous{
    border: none;
    background-color: transparent;
    color: var(--main-color);
    font-size: 2rem;
    cursor: pointer;
}

.next{
    position: fixed;
        bottom: 20%;
        right: 10%;
}

.previous{ 
    position: fixed;
        bottom: 20%;
        right: 15%;
}

h4{
    margin: 20px auto;
}

/* pictures in modal */

.container img{
    width: 100%;
    min-width: 200px;
}

.image-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* contact me section */

.contact {
   margin-top: 9rem;
   padding: 3rem;
   width: 100%;
   text-align: center;
   background-image: url("../img/background/bgc-image-hero.png");
   color: var(--main-color);
   font-family: var(--main-font);
   font-weight: bold;
}

.contact-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% auto;
    width: 70%;
}

.dev-anim-img{
    width: 60%;
}

.contact h2{
    font-size: 2rem;
}

.contact form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
}

.contact label{
    margin: 0.2rem;
    font-size: 1.3rem;
    text-align: start;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}
.first-name,
.email{
    width: 100%;
}


#first_name,
#email{
    width: 100%;
    height: 3vh;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-button {
    margin: 2rem auto;
}

.socials {
    width: 30%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
}

.socials p{
    margin: 1rem;
}
.github{
    width: 25%;
}
.github > a >img{
    width: 100px;
    margin-right: 15px
}

 input{
    border-style: none;
    border-radius: 5px;
} 

 textarea{
    border-style: none;
    border-radius: 5px;
    margin: 0.2rem;
    width: 100%;
}

@media (max-width:1921px) {

    section.hero{
        padding-top: 13rem;
    }

    .machine-typing{
    min-height: 15vh;
    }

    .about-me-wrapper{
        margin: 0 10rem 0 4rem;
    }

    .project1{
        margin-right: 10rem;
    }
}

@media (max-width: 1790px ){
    .hero-motto{
        font-size: 4rem;
    }

    .hero-text{
        margin-top: 7rem;
    }
}

@media  (max-width: 1660px) {
    .nav-title{
        margin-left: 2rem;
    }

    .hero>img{
        margin-left: 10rem;
    }

    .about-me-wrapper{
        margin: 0 5rem 0 4rem;
        max-width: 80%;
    }

    .skills, .goals{
        width: 90%;
        align-items: flex-start;
        margin: 0 auto;
        }

        .goals{
            justify-content: space-between;
            margin-left: 6rem;
        }

        .dev-anim>img {
            display: block;
            width: 94%;
        }

        /* icons */

        .icons-container {
            grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
            grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
        }
        .skills-img1 {
            width: 130px;
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 4;
            grid-column-end: 4;
        }
    
        .skills-img2 {
            width: 100px;
            grid-row-start: 3;
            grid-column-start: 5;
            grid-row-end: 5;
            grid-column-end: 7;
        }
    
        .skills-img3 {
            width: 100px;
            grid-row-start: 1;
            grid-column-start: 7;
            grid-row-end: 3;
            grid-column-end: 9;
        }
    
        .skills-img4 {
            width: 150px;
            grid-row-start: 4;
            grid-column-start: 8;
            grid-row-end: 7;
            grid-column-end: 11;
        }
    
        .skills-img5 {
            width: 100px;
            grid-row-start: 5;
            grid-column-start: 2;
            grid-row-end: 7;
            grid-column-end: 4;
        }
    
        .skills-img6 {
            width: 100px;
            grid-row-start: 6;
            grid-column-start: 5;
            grid-row-end: 8;
            grid-column-end: 7;
        }
    
        .skills-img7 {
            width: 140px;
            grid-row-start: 8;
            grid-column-start: 8;
            grid-row-end: 11;
            grid-column-end: 11;
        }
    
        .skills-img8 {
            width: 100px;
            grid-row-start: 8;
            grid-column-start: 2;
            grid-row-end: 10;
            grid-column-end: 4;
        }

                .goals-img1 {
                    width: 200px;
                    grid-row-start: 1;
                    grid-column-start: 5;
                    grid-row-end: 4;
                    grid-column-end: 9;
                }
        
                .goals-img2 {
                    width: 150px;
                    grid-row-start: 6;
                    grid-column-start: 9;
                    grid-row-end: 9;
                    grid-column-end: 12;
                }
        
                .goals-img3 {
                    width: 100px;
                    grid-row-start: 3;
                    grid-column-start: 1;
                    grid-row-end: 5;
                    grid-column-end: 3;
                }
        
                .goals-img4 {
                    width: 100px;
                    grid-row-start: 8;
                    grid-column-start: 6;
                    grid-row-end: 10;
                    grid-column-end: 8;
                }
        
                .goals-img5 {
                    width: 150px;
                    grid-row-start: 7;
                    grid-column-start: 2;
                    grid-row-end: 10;
                    grid-column-end: 5;
                }
        
                .goals-img6 {
                    width: 100px;
                    grid-row-start: 3;
                    grid-column-start: 10;
                    grid-row-end: 5;
                    grid-column-end: 12;
                }

    .project1, .project2{
        margin-right: 0;
        width: 70%;
        
    }

    .form-button{
        width: 12rem;
    }

    .previous, .next {
        bottom: 26%;
    }
    
    .contact {
        height: 90vh;
        padding: 1rem;
    }

}

@media (max-width:1550px) {
    .hero-text{
        min-width: 40%;
    }

    .skills{
        justify-content: space-between;
        width: 95%;
    }
}

@media (max-width:1367px) {

    .icons-container {
            grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
            grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
        }

        .dev-anim {
            width: 50%;
        }
   
    .skills-img1 {
            width: 120px;
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 4;
            grid-column-end: 4;
        }
    
        .skills-img2 {
            width: 100px;
            grid-row-start: 3;
            grid-column-start: 4;
            grid-row-end: 5;
            grid-column-end: 6;
        }
    
        .skills-img3 {
            width: 100px;
            grid-row-start: 1;
            grid-column-start: 7;
            grid-row-end: 3;
            grid-column-end: 9;
        }
    
        .skills-img4 {
            width: 100px;
            grid-row-start: 4;
            grid-column-start: 7;
            grid-row-end: 7;
            grid-column-end: 10;
        }
    
        .skills-img5 {
            width: 70px;
            grid-row-start: 5;
            grid-column-start: 2;
            grid-row-end: 7;
            grid-column-end: 4;
        }
    
        .skills-img6 {
            width: 70px;
            grid-row-start: 6;
            grid-column-start: 5;
            grid-row-end: 8;
            grid-column-end: 7;
        }
    
        .skills-img7 {
            width: 100px;
            grid-row-start: 7;
            grid-column-start: 7;
            grid-row-end: 10;
            grid-column-end: 11;
        }
    
        .skills-img8 {
            width: 100px;
            grid-row-start: 7;
            grid-column-start: 2;
            grid-row-end: 10;
            grid-column-end: 4;
        }
    
        .goals-img1 {
            width: 150px;
            grid-row-start: 1;
            grid-column-start: 4;
            grid-row-end: 4;
            grid-column-end: 7;
        }
    
        .goals-img2 {
            width: 100px;
            grid-row-start: 6;
            grid-column-start: 7;
            grid-row-end: 9;
            grid-column-end: 9;
        }
    
        .goals-img3 {
            width: 100px;
            grid-row-start: 2;
            grid-column-start: 1;
            grid-row-end: 4;
            grid-column-end: 3;
        }
    
        .goals-img4 {
            width: 100px;
            grid-row-start: 7;
            grid-column-start: 4;
            grid-row-end: 9;
            grid-column-end: 6;
        }
    
        .goals-img5 {
            width: 100px;
            grid-row-start: 5;
            grid-column-start: 2;
            grid-row-end: 7;
            grid-column-end: 5;
        }
    
        .goals-img6 {
            width: 70px;
            grid-row: 3;
            grid-column: 8;
        }

        .skills{
            width: 90%;
        }

        .photo>img {
            width: 25vh;
            height: 25vh;
        }

        .about-me-wrapper>p{
            font-size: 1.1rem;
        }

        .previous,.next{
            bottom: 21%;
        }
}

@media (max-width: 1260px) {
    .nav-title {
        font-size: 10px;
    }

   .nav-links{
        margin-right: 2%;
   }

    .flex-buttons>div{
        min-width: 70%;
    }
    
    .hero-text {
        margin-top: 8rem;
        min-width: 35%;
    }

    .hero-motto{
        font-size: 4rem;
    }
    
    .hero-motto2{
        font-size: 2rem;
    }

    .hero-paragraph{
        font-size: 1.7rem;
    }

    .flex-buttons {
        margin-top: 2rem;
    }

    .flex-buttons>a{
        font-size: 16px;
    }

    .previous,
    .next {
        bottom: 22%;
    }

    .contact{
        height: 70vh;

    }
}

@media (max-width:1025px){
    .nav-links {
        margin-right: 2rem;
        width: 50%;
    }

    section.hero{
        padding-top: 0rem;
    }

    .hero-text {
        margin: 26rem 2rem 5rem 0;
    }

    .hero-motto{
        font-size: 4rem;
    }

    .hero-paragraph{
        font-size: 1.5rem;
    }

    .hero>img{
        margin-left: 5rem;
        margin-right: 2rem;
        margin-top: 17.4rem;
        scale: 0.9;
    }

    .flex-buttons {
        margin-top: 0rem;
    }

    .skills-wrapper, 
    .about-me, 
    .goals-wrapper{
        width: 90%;
    }

        .icons-container {
            grid-template-columns: repeat(7, 50px);
            grid-template-rows: repeat(7, 50px);
        }
    
        .dev-anim {
            width: 50%;
        }
    
        .icons-container{
            margin-top: 20px;
        }
        .skills-img1 {
            width: 100px;
            grid-row: 1;
            grid-column: 1;
            
        }
    
        .skills-img2 {
            width: 70px;
            grid-row: 2;
            grid-column: 4;
        }
    
        .skills-img3 {
            width: 80px;
            grid-row: 1;
            grid-column: 6;
        }
    
        .skills-img4 {
            width: 100px;
            grid-row: 3;
            grid-column: 6;
        }
    
        .skills-img5 {
            width: 70px;
            grid-row: 4;
            grid-column: 2;
        }
    
        .skills-img6 {
            width: 70px;
            grid-row: 5;
            grid-column: 4;
        }
    
        .skills-img7 {
            width: 80px;
            grid-row: 6;
            grid-column: 6;
        }
    
        .skills-img8 {
            width: 80px;
            grid-row: 6;
            grid-column: 2;
        }
    
        .goals-img1 {
            width: 100px;
            grid-row-start: 1;
            grid-column-start: 4;
            grid-row-end: 4;
            grid-column-end: 7;
        }
    
        .goals-img2 {
            width: 70px;
            grid-row: 4;
            grid-column: 6;
        }
    
        .goals-img3 {
            width: 80px;
            grid-row: 1;
            grid-column: 1;
        }
    
        .goals-img4 {
            width: 80px;
            grid-row: 5;
            grid-column: 4;
        }
    
        .goals-img5 {
            width: 100px;
            grid-row: 3;
            grid-column: 2;
        }
    
        .goals-img6 {
            width: 50px;
            grid-row: 2;
            grid-column: 7;
        }

        .goals{
            margin-left: 5rem;
        }

    .about-me-wrapper{
        max-width: 90%;
        margin:0 5%;
    }

    .about-me-wrapper> p{
        font-size: 16px;
    }

    .icons-container>div>img{
        scale: 0.5;
    }

    .icons-container>div>p{
        font-size: .8rem;
    }

    .projects{
        margin: 5rem auto 0;
    }

    .project1,
    .project2 {
        width: 25rem;
        text-align: center;
        }

    .socials{
        width: 40%;
    }

    .previous,
    .next {
        bottom: 26%;
    }

    .contact>h2{
        margin-top: 2rem;
    }

    .contact-wrapper{
        margin: 5rem auto;
    }
}

@media (max-width:768px) {

    .nav-links{
        width: 65%;
        margin-right: 0;
    }

    .nav-links>nav>a{
        margin-right: 1rem;
    }

    .hero>img {
        height: 55vh;
        margin-left: 1rem;
        margin-top: 25.4rem;
        margin-right: 2rem;
    }
    
    .hero-text {
        font-size: 20px;
        min-width: 50%;
        margin: 36rem 3rem 3rem 0;
    }

    .flex-buttons{
        margin-top: -2rem;
    }

    .flex-buttons>div{
        min-width: 10rem;
    }

    .hero-motto{
        font-size: 4rem;
    }

    .hero-motto2 {
        font-size: 1.5rem;
    }

    .flex-buttons{
        width: 40rem;
    }

    .photo>img {
        width: 0;
        margin: 1rem;
    }

    .project1,
    .project2 {
        width: 20rem;
    }

    #overlay{
        width: 90vw;
        margin-left: -15%;
    }

    .socials {
        width: 50%;
    }

    .form-inputs{
        width: 90%;
    }

    .previous,
    .next {
        bottom: 47%;
    }

    .previous{
        right: 17%;
    }

    .modal-body>h4{
        font-size: 1rem;
    }

}

@media (max-width: 480px) and (min-width:320px){
    .nav-links>.bscreen{
        position: absolute;
        top: 100%;
        right: 0;
        text-align: right;
        display: none;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
    }

    .nav-links>.active{
        display: flex;
    }

    .nav-links>.bscreen>a{
        margin-right: 10%;
    }

    .nav-links>nav>a:hover {
        color: var(--main-color);
        box-shadow: none;
    }

    .nav-links>.sscreen {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-end;
    }

    

    .fa {
        display: block;
        font-size: 2rem; 
        margin-left: 7rem;
        cursor: pointer;
    }


    .nav-title{
        width: 20rem;
        margin-left: 0rem;
        padding: .3rem;
    }
    .wrapper{
        overflow: hidden;
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
    }

    section.hero{
        min-height: 100vh;
        padding-top: 2rem;
    }

    .hero-motto{
        margin-top: 3rem;
        font-size: 1.5rem;
    }

    .hero-motto2{
        font-size: 1.3rem;
    }

    .hero>img {
            width: 0;
            height: 0;
            margin: 0;
        }

    .hero-text {
        font-size: 22px;
        width: 23rem;
        height: 35rem;
        margin: 5rem auto 0;
        padding: 10rem 2rem;
    }

    .flex-buttons{
        margin-top: 4rem;
    }

    .about-me{
        padding-top: 10rem;
    }

    .about-me-wrapper{
        margin: 0;
        margin-left: -2rem;
    }

    .about-me-wrapper>p{
        font-size: 20px;
        
    }

    .skills-wrapper{
        flex-direction: column;
    }

    .skills, .goals{
        margin-left: -1rem;
    }

    .projects{
        margin-bottom: -7rem;
    }

    .projects-cards{
        flex-direction: column;
        margin: 0 auto;
    }

    .project-btn{
        margin: 0 0 3rem 0;
    }

    .project-picture, .project-picture-2{
        margin: 2px;
    }
    
    .project-description{
        margin-bottom: 20px;
    }

    .projects{
        width: 100vw;
    }

        #overlay {
            width: 100vw;
            margin-left: 0;
        }

    .contact-form{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-left: .6rem;
    }

    #message{
        width: 85%;
    }

    .form-inputs{
        width: 100%;
        padding: 0;
    }

    .socials{
        flex-direction: column;
        height: 15vh;
        justify-content: space-between;
        align-items: flex-start;
        margin-left:5rem;
    }

    .modal{
        padding: 0;
        width: 90vw;
    }

    .container img{
        min-width: 0;
    }
    
    .previous,
    .next {
        bottom: 50%;
    }
    
    .previous {
        right: 17%;
    }
    
    .modal-body>h4 {
        font-size: 1rem;
    }
}