/* used fonts
    nav links : font-family: 'Rajdhani', sans-serif;
    hero text : font-family: 'Playfair Display', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    overflow-x: hidden ;
    /* background-image: url("/img/background/bgc-image-hero.png"); */
}

/* slider */
.slider {
    transform: translateX(400%);
    transition: .75s ease;
}

.slider:nth-of-type(even) {
    transform: translateX(-400%);
    transition: .75s ease;
}

.slider.show {
    transform: translateX(0);
}

/* navigation */

header {
    display: flex;
    margin: 10px auto;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    width: 60px;
    height: 60px;
    border-radius: .75rem;
}

.nav-title {
    display: flex;
    margin-left: 10rem;
    justify-content: center;
    align-items: center;

}

.nav-name>a {
    margin-left: 1rem;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color: #000;
}

.nav-links {
    margin-right: 10rem;
    width: 50rem;
}

.nav-links>nav {
    display: flex;
    justify-content: space-between;
}

.nav-links>nav>a {
    text-decoration: none;
    color: #000;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    transition: .3s;
    cursor: pointer;
}



.nav-links>nav>a:hover {
    color: #DE5C00;
    box-shadow: 0 3px 0px #DDC63D;
}

/* hero section */

.hero {
    display: flex;
    align-items: flex-end;
    background-image: url("../img/background/bgc-image-hero.png");
    background-position: center;
    height: 91.5vh;
}

.hero>img {
    height: 70vh;
    display: flex;
    margin-left: 15rem;
    margin-right: 6rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 35rem 5rem 0;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    width: 30rem;
}

.cursor{
    opacity: 0;
    transition: .2s;
}

.cursor.active{
    opacity:1;
}

.hero-motto {
    align-self: flex-start;
}

.machine-typing{
    height: 20vh;
    margin: 2rem 0 2rem 0;
}

.hero-projects,
.hero-contact,
.project-btn,
.form-button {
    padding: 10px 20px;
    margin: 0 25px 0 0;
    border: none;
    font-size: 1.2rem;
    color: #000;
    box-shadow: inset 0 0 0 2px #DE5C00;
    background-color: transparent;
    transition: .2s;
    cursor: pointer;
}

.hero-projects:hover,
.hero-contact:hover,
.project-btn:hover,
.form-button:hover {
    border: none;
    background-color: #DE5C00;
    color: #fff;
}

/* about me section */

.about-me {
    display: flex;
    min-height: 91vh;
    padding: 20rem 0 0 0;
    justify-content: center;
}

.about-me-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20rem 0 4rem;
    max-width: 60%;
}

.about-me-wrapper>h2 {
    font-family: 'Rajdhani', sans-serif;
    color: #DE5C00;
    margin-bottom: 1rem;
}

.about-me-wrapper>p {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.2rem;
}

.photo>img {
    width: 30vh;
    height: 30vh;
    margin: 3rem 0 0 10rem;
}

.skills-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.icons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
}

.skills>h2,
.goals>h2 {
    margin-bottom: 1rem;
    margin-left: 5rem;
    font-family: 'Rajdhani', sans-serif;
    color: #DE5C00;
}

.icons-container>div {
    display: flex;
    align-items: center;
}

.icons-container>div>img {
    margin-right: .5rem;
    margin-bottom: .25rem;
}

.icons-container>div>p {
    margin-right: .3rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
}

/* projects section */

.projects {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* background-color: blueviolet; */
    margin :0 auto 7rem;
    padding: 9rem 2rem;
    align-items: center;
}

.projects> h2 {
    font-family: 'Rajdhani', sans-serif;
        color: #DE5C00;
}

.projects-cards{
    display: flex;
    margin-top: 4rem;
}

.projects-cards div {
    margin: 1rem 3rem;
}

.project-picture {
    width: 80%;
    margin-bottom: 2rem;
}

.project-description{
    margin-bottom: 2rem;
    font-family: 'Playfair Display', sans-serif;
}

.project1, .project2 {
    width: 35rem;
    text-align: center;
}

/* modals */
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 50%;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.modal-header .close-btn{
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2rem;

}

.modal-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    z-index: 2;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}
/* contact me section */

.contact {
   margin-top: 9rem;
   padding: 3rem;
    width: 100%;
    text-align: center;
    background-image: url("/img/background/bgc-image-hero.png");
    color: #DE5C00;
}

.contact h2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 2rem;
}

.contact form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.contact label{
    margin: 0.2rem;
    font-size: 1.3rem;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 2rem;
}

.contact-form{
    display: flex;
    justify-content: center;
}

.form-button {
    width: 10%;
    margin: 2rem auto;
}

.socials {
    width: 60%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

.socials p{
    margin: 1rem;
}
.github{
    width: 10%;
}
.github > a >img{
    width: 100%;
}

