/* used fonts
    nav links : font-family: 'Rajdhani', sans-serif;
    hero text : font-family: 'Playfair Display', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}



/* slider */
/* .slider {
    transform: translateX(400%);
    transition: .6s ease;
}

 .slider:nth-of-type(even) {
    transform: translateX(-400%);
    transition: .6s ease;
} */



.slider.show {
    transform: translateX(0);
}
/* navigation */

.nav-links>.sscreen, .fa{
    display: none;
}

header {
    display: flex;
    margin: 10px auto;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    width: 60px;
    height: 60px;
    border-radius: .75rem;
}

.nav-title {
    display: flex;
    margin-left: 10rem;
    justify-content: center;
    align-items: center;
}

.nav-name>a {
    margin-left: 1rem;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color: #000;
}

.nav-links {
    margin-right: 10rem;
    width: 50rem;
}

.nav-links>nav {
    display: flex;
    justify-content: space-between;
}

.nav-links>nav>a {
    text-decoration: none;
    color: #000;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    transition: .3s;
    cursor: pointer;
}



.nav-links>nav>a:hover {
    color: #DE5C00;
    box-shadow: 0 3px 0px #DDC63D;
}

/* hero section */

.hero {
    display: flex;
    align-items: center;
    background-image: url("../img/background/bgc-image-hero.png");
    background-position: center;
    height: 91.5vh;
}

.hero>img {
    height: 70vh;
    display: flex;
    margin-left: 15rem;
    margin-right: 6rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 35rem 5rem 0;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    width: 30rem;
    height: 60%;
}

.flex-buttons{
    display: flex;
    margin-top: 2rem;
}

.cursor{
    opacity: 0;
    transition: .2s;
}

.cursor.active{
    opacity:1;
}

.hero-motto {
    align-self: flex-start;
}

.machine-typing{
    height: 20vh;
    margin: 2rem 0 2rem 0;
}

.hero-projects,
.hero-contact,
.project-btn,
.form-button {
    padding: 10px 20px;
    margin: 0 25px 0 0;
    border: none;
    font-size: 1.2rem;
    color: #000;
    box-shadow: inset 0 0 0 2px #DE5C00;
    background-color: transparent;
    transition: .2s;
    cursor: pointer;
    display: inline;
}

a{
    color: black;
}

.hero-projects:hover,
.hero-contact:hover,
.project-btn:hover,
.form-button:hover {
    border: none;
    background-color: #DE5C00;
    color: #fff;
}

/* about me section */

.about-me {
    display: flex;
    min-height: 91vh;
    padding: 20rem 0 0 0;
    justify-content: center;
}

.about-me-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20rem 0 4rem;
    max-width: 60%;
}

.about-me-wrapper>h2 {
    font-family: 'Rajdhani', sans-serif;
    color: #DE5C00;
    margin-bottom: 1rem;
}

.about-me-wrapper>p {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.2rem;
}

.photo>img {
    width: 30vh;
    height: 30vh;
    margin: 3rem 0 0 10rem;
}

.skills-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.icons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
}

.skills>h2,
.goals>h2 {
    margin-bottom: 1rem;
    margin-left: 5rem;
    font-family: 'Rajdhani', sans-serif;
    color: #DE5C00;
}

.icons-container>div {
    display: flex;
    align-items: center;
}

.icons-container>div>img {
    margin-right: .5rem;
    margin-bottom: .25rem;
}

.icons-container>div>p {
    margin-right: .3rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
}

/* projects section */

.projects {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin :0 auto 7rem;
    padding: 9rem 2rem;
    align-items: center;
}

.projects> h2 {
    font-family: 'Rajdhani', sans-serif;
        color: #DE5C00;
}

.projects-cards{
    display: flex;
    margin-top: 4rem;
}

.project-picture {
    width: 80%;
    margin-bottom: 2rem;
}

.project-description{
    margin-bottom: 2rem;
    font-family: 'Playfair Display', sans-serif;
}

.project1, .project2 {
    width: 35rem;
    text-align: center;
}

/* modals */
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 60%;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DE5C00;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.modal-header .close-btn{
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2rem;
    color: #000;
}

.modal-body{
    padding: 20px 25px;
}

#overlay{
    position: fixed;
    z-index: 2;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.next, .previous{
    border: none;
    background-color: transparent;
    color: #DE5C00;
    font-size: 2rem;
    cursor: pointer;
}

.next{
    position: fixed;
        bottom: 20%;
        right: 10%;
}

.previous{ 
    position: fixed;
        bottom: 20%;
        right: 15%;
}

h4{
    margin: 20px auto;
}

/* pictures in modal */

.container img{
    width: 100%;
    min-width: 200px;
}

.image-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* contact me section */

.contact {
   margin-top: 9rem;
   padding: 3rem;
    width: 100%;
    text-align: center;
    background-image: url("../img/background/bgc-image-hero.png");
    color: #DE5C00;
}

.contact h2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 2rem;
}

.contact form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.contact label{
    margin: 0.2rem;
    font-size: 1.3rem;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 2rem;
}

.contact-form{
    display: flex;
    justify-content: center;
}

.form-button {
    width: 10%;
    margin: 2rem auto;
}

.socials {
    width: 30%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
}

.socials p{
    margin: 1rem;
}
.github{
    width: 25%;
}
.github > a >img{
    width: 100px;
    margin-right: 15px
}

 input{
    border-style: none;
    border-radius: 5px;
} 

 textarea{
    border-style: none;
    border-radius: 5px;
}

/* temporary styles */

.project-picture-2{
    width: 52%;
    margin-bottom: 30px;
}

@media (max-width:1921px) {

    section.hero{
        padding-top: 13rem;
    }

    .machine-typing{
    min-height: 15vh;
    }

    .hero-text{
        padding-top: 5rem;
    }

    .about-me-wrapper{
        margin: 0 10rem 0 4rem;
    }

    .skills, .goals{
        width: 40%;
    }

    .project1{
        margin-right: 10rem;
    }
}

@media (max-width: 1680px ){
    .hero-text {
        font-size: 2rem;
        margin-top: 25rem;
        padding-top: 0rem;
    }

    section.hero {
        padding-top: 0;
    }

    .machine-typing {
        height: 20vh;
        margin: 2rem 0 0 0;
    }

    .form-button {
        width: 12rem;
    }

    .hero>img{
        margin-top: 12rem;
    }

    .project-picture{
        scale: 1.1;
    }
}

@media  (max-width: 1366px) {
    .nav-title{
        margin-left: 2rem;
    }

    .hero>img{
        margin-left: 10rem;
    }

    .hero-text{
        margin: 25rem 20rem 5rem 0;
    }

    .about-me-wrapper{
        margin: 0 5rem 0 4rem;
        max-width: 80%;
    }

    .skills, .goals{
        width: 100%;
    }

    .project1, .project2{
        margin-right: 0;
        width: 70%;
        
    }

    .form-button{
        width: 12rem;
    }

    .previous, .next {
        bottom: 26%;
    }
}

@media (max-width: 1260px) {
    .nav-title {
        font-size: 10px;
    }

    .flex-buttons>div{
        min-width: 70%;
    }
    
    .hero-text {
        margin-top: 23rem;
        min-width: 40%;
    }

    .hero-motto{
        font-size: 2.5rem;
    }
    
    .hero-motto2{
        font-size: 2rem;
    }

    .flex-buttons {
        margin-top: 5rem;
    }

    .flex-buttons>a{
        font-size: 16px;
    }

    .photo>img{
        margin: 3rem 0 0 4rem;
    }

    .previous,
    .next {
        bottom: 27%;
    }
}

@media (max-width:1024px){
    .nav-links {
        margin-right: 2rem;
        width: 50%;
    }

    .hero-text {
        margin: 25rem 2rem 5rem 0;
    }

    .hero>img{
        margin-left: 5rem
    };

    .photo>img{
        width: 20vw;
        margin: 3rem 0 0 5rem;
    }

    .about-me-wrapper>p{
        font-size: 16px;
    }

    .icons-container>div>img{
        scale: 0.5;
    }

    .icons-container>div>p{
        font-size: .8rem;
    }

    .skills{
        margin-right: 100px;
    }

    .project1,
    .project2 {
        width: 25rem;
        text-align: center;
        }

    .socials{
        width: 40%;
    }

        .previous,
        .next {
            bottom: 36%;
        }
}

@media (max-width:768px) {
    .hero>img {
        height: 55vh;
        margin-left: 3rem;
        margin-top: 20rem;
        margin-right: 4rem;
    }
    
    .hero-text {
        font-size: 20px;
        width: 40rem;
        margin: 15rem 3rem 3rem 0;
    }

    .flex-buttons>div{
        min-width: 10rem;
    }
    .hero-motto2 {
        font-size: 1.5rem;
    }

    .hero-text{
        font-size:1.8rem ;
        width: 20rem;
        margin: 0 35rem -20rem 0;
    }

    .flex-buttons{
        width: 40rem;
    }

    .photo>img {
        width: 0;
        margin: 1rem;
    }

    .project1,
    .project2 {
        width: 20rem;
    }

    #overlay{
        width: 90vw;
        margin-left: -15%;
    }

    .socials {
        width: 50%;
    }

    .form-inputs{
        width: 90%;
    }

    .previous,
    .next {
        bottom: 47%;
    }

    .previous{
        right: 17%;
    }

    .modal-body>h4{
        font-size: 1rem;
    }

}

@media (max-width: 480px) and (min-width:320px){
    .nav-links>.bscreen{
        position: absolute;
        top: 99%;
        right: 0%;
        text-align: right;
        display: none;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
    }

    .nav-links>.active{
        display: flex;
    }

    .nav-links>.bscreen>a{
        margin-right: 10%;
    }

    .nav-links>nav>a:hover {
        color: #DE5C00;
        box-shadow: none;
    }

    .nav-links>.sscreen {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-end;
    }

    

    .fa {
        display: block;
        font-size: 2rem; 
        margin-left: 7rem;
        cursor: pointer;
    }


    .nav-title{
        width: 20rem;
        margin-left: 0rem;
        padding: .3rem;
    }
    .wrapper{
        overflow: hidden;
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
    }

    section.hero{
        min-height: 100vh;
        padding-top: 2rem;
    }

    .hero-motto{
        margin-top: 3rem;
        font-size: 1.5rem;
    }

    .hero-motto2{
        font-size: 1.3rem;
    }

    .hero>img {
            width: 0;
            height: 0;
            margin: 0;
        }

    .hero-text {
        font-size: 22px;
        width: 23rem;
        height: 35rem;
        margin: 0 auto;
        padding: 10rem 2rem;
    }

    .flex-buttons{
        padding-top: 3rem;
    }

    .about-me{
        padding-top: 10rem;
    }

    .about-me-wrapper{
        margin: 0;
        margin-left: -2rem;
    }

    .about-me-wrapper>p{
        font-size: 20px;
        
    }

    .skills-wrapper{
        flex-direction: column;
    }

    .skills, .goals{
        margin-left: -1rem;
    }

    .projects{
        margin-bottom: -7rem;
    }

    .projects-cards{
        flex-direction: column;
        margin: 0 auto;
    }

    .project-btn{
        margin: 0 0 3rem 0;
    }

    .project-picture, .project-picture-2{
        margin: 2px;
    }
    
    .project-description{
        margin-bottom: 20px;
    }

    .projects{
        width: 100vw;
    }

        #overlay {
            width: 100vw;
            margin-left: 0;
        }

    .contact-form{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-left: .6rem;
    }

    #message{
        width: 85%;
    }

    .form-inputs{
        width: 100%;
        padding: 0;
    }

    .socials{
        flex-direction: column;
        height: 15vh;
        justify-content: space-between;
        align-items: flex-start;
        margin-left:5rem;
    }

    .modal{
        padding: 0;
        width: 90vw;
    }

    .container img{
        min-width: 0;
    }
    
    .previous,
    .next {
        bottom: 50%;
    }
    
    .previous {
        right: 17%;
    }
    
    .modal-body>h4 {
        font-size: 1rem;
    }
}